*{
    margin: 0;
    padding: 0;
}
div{
    
    margin: 20px;
    padding: 50px;
    padding-bottom: 5px;
    height: 100px;
    width: 500px;
    border: 5px solid black;

    border-radius: 30px 40px 20px 5px/40px 20px 30px 50px;
    /* border-bottom-left-radius: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 5px; */
    /* border-image: url(./olx/images/thSiDY.png) 11 11 11 11 stretch; */
    /* border-left: 5px blue;
    border-left-style:double; */


}
h1{
    margin-left: 30px;
    background-color: antiquewhite;
    /* display: inline-block; *//*support height and width*/
    display: inline; /* dont support height and width*/
    width: 100px;
    height: 200px;
}
.hc{
    margin-left: 30px;
    background-color: brown;
    /* display: none;   "content disappeared"*/
}
.hide{
    /* display: none;  disappears but doesnot take space */
     /*visibility: hidden;/*  disappears but  take space */

}
ul{
    margin: 50px;
}
button{
    border: 1px solid black;
    height: 80px ;
    width: 80px;
    margin-left: 400px;
    margin-bottom: 400px;
    border-radius: 80px;
}